/.venv/
/.idea/
/data/
/wandb/
/wandb_test
/artifacts/
/02-building-reproducible-model-workflow/01-machine-learning-pipelines/04-linking-components/mlruns/
/02-building-reproducible-model-workflow/01-machine-learning-pipelines/04-linking-components/outputs/
/.venvw/
/02-building-reproducible-model-workflow/02-data-exploration-and-preparation/01-exploratory-data-analysis/.ipynb_checkpoints/
/02-building-reproducible-model-workflow/01-machine-learning-pipelines/03-ml-pipeline/wandb/
/02-building-reproducible-model-workflow/02-data-exploration-and-preparation/01-exploratory-data-analysis/wip.py
/02-building-reproducible-model-workflow/02-data-exploration-and-preparation/01-exploratory-data-analysis/artifacts/
/02-building-reproducible-model-workflow/02-data-exploration-and-preparation/01-exploratory-data-analysis/wandb/
/02-building-reproducible-model-workflow/01-machine-learning-pipelines/04-linking-components/process_data/wandb/
/02-building-reproducible-model-workflow/01-machine-learning-pipelines/04-linking-components/download_data/wandb/
/mlruns/
/02-building-reproducible-model-workflow/02-data-exploration-and-preparation/02-clean-preprocess/mlruns/
/02-building-reproducible-model-workflow/02-data-exploration-and-preparation/02-clean-preprocess/artifacts/
/02-building-reproducible-model-workflow/02-data-exploration-and-preparation/02-clean-preprocess/wandb/
/02-building-reproducible-model-workflow/02-data-exploration-and-preparation/03-data-segreation/artifacts/
/02-building-reproducible-model-workflow/02-data-exploration-and-preparation/03-data-segreation/mlruns/
/02-building-reproducible-model-workflow/02-data-exploration-and-preparation/03-data-segreation/wandb/
/02-building-reproducible-model-workflow/01-machine-learning-pipelines/04-linking-components/process_data/artifacts/
/02-building-reproducible-model-workflow/01-machine-learning-pipelines/04-linking-components/process_data/clean_data.csv
/02-building-reproducible-model-workflow/03-data-validation/01-deterministic-tests/artifacts/
/02-building-reproducible-model-workflow/03-data-validation/01-deterministic-tests/mlruns/
/02-building-reproducible-model-workflow/03-data-validation/01-deterministic-tests/wandb/
/02-building-reproducible-model-workflow/03-data-validation/02-non-deterministic-tests/artifacts/
/02-building-reproducible-model-workflow/03-data-validation/02-non-deterministic-tests/mlruns/
/02-building-reproducible-model-workflow/03-data-validation/02-non-deterministic-tests/wandb/
/02-building-reproducible-model-workflow/03-data-validation/03-pytest-parameters/artifacts/
/02-building-reproducible-model-workflow/03-data-validation/03-pytest-parameters/mlruns/
/02-building-reproducible-model-workflow/03-data-validation/03-pytest-parameters/wandb/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/01-training-inference-pipeline/mlruns/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/01-training-inference-pipeline/outputs/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/01-training-inference-pipeline/random_forest/artifacts/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/01-training-inference-pipeline/random_forest/wandb/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/02-hyperparameter-optimization/mlruns/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/02-hyperparameter-optimization/multirun/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/02-hyperparameter-optimization/outputs/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/02-hyperparameter-optimization/random_forest/artifacts/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/02-hyperparameter-optimization/random_forest/wandb/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/03-export-model -subpipeline/random_forest/artifacts/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/03-export-model -subpipeline/random_forest/wandb/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/03-export-model -subpipeline/mlruns/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/03-export-model -subpipeline/outputs/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/04-test-final-model/artifacts/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/04-test-final-model/mlruns/
/02-building-reproducible-model-workflow/04-training-validation-experimentation/04-test-final-model/wandb/
/dvc-data.csv
